<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klover.mapper.UserMapper">
    <select id="getUserList" resultType="user">
        select * from "user";
    </select>
    <select id="gerUserListPagination" resultType="user" parameterType="hashmap">
        select * from "user" offset #{offset} limit #{limit};
    </select>

    <!--1. 子域查询 -->
    <select id="getUserGoodsById1" resultMap="getUserGoodsById1">
        select *
        from "user" where id = #{userId};
    </select>

    <resultMap id="getUserGoodsById1" type="user">
        <collection property="goodsList" javaType="arraylist" ofType="goods" select="getGoods1" column="id"></collection>
    </resultMap>
    
    <select id="getGoods1" resultType="goods">
        select *
        from goods where "userId" = #{userId};
    </select>

    <!--2. 结果查询 -->
    <select id="getUserGoodsById2" resultMap="getUserGoodsById2">
        SELECT "user".id userId, "user"."name" userName, "user".age, "user"."time", goods."id" goodsId, goods."name" goodsName, goods.amount
        from "user" LEFT JOIN goods on "user".id = goods."id" where "user"."id" = 1
    </select>
    <resultMap id="getUserGoodsById2" type="user">
        <result column="userId" property="id"></result>
        <result column="userName" property="name"></result>
        <result column="age" property="age"></result>
        <result column="time" property="time"></result>
        <collection property="goodsList" ofType="goods">
            <result column="goodsId" property="id"></result>
            <result column="goodsName" property="name"></result>
            <result column="amount" property="amount"></result>
        </collection>
    </resultMap>

    <!--动态sql if -->
    <select id="getUserListByIf" resultType="user">
        select * from "user"
        <where>
            <if test="id != null">
                And id = #{id}
            </if>
        </where>
    </select>

    <!-- 动态sql set -->
    <update id="updateUser" >
        update "user"
        <set>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getUserByChoose" resultType="user">
        select * from "user"
        <where>
            <choose>
                <when test="name != null">
                    and name like #{name}
                </when>
                <otherwise>
                    and id = #{id}
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>